.card {
    max-width: 350px;
    background-color: #fff;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid gray; 
  }

.immagine{
    max-width: 100%;

    
}

.corpo-card{
    padding: 0px 5px;
    margin-top: 0px;
    text-align: initial;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;  

}

.gruppo-lista{
padding: 0px;
margin: 0px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.item{
    list-style-type: none; 
    
}

li {
    font-size: 17px;
    padding: 15px;
    
    border: 1px solid gray;
}

.link-card {
    padding: 20px;
    border: 1px solid gray;
    display: flex;
    
}


a {
    color:deepskyblue;
    margin-right: 15px;
}






